<div>
    <div class="container">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h2 class="card-title text-danger">Pagina no encontrada: Error 404</h2>
                <p class="card-text">Lo sentimos, la página que buscas no se ha encontrado.</p>
                <p class="card-text">Por favor, verifica la URL e inténtalo de nuevo.</p>
                <p class="card-text">Justo al izquierda tiene el menú para continuar con su navegación.</p>
            </div>
        </div>
    </div>    
</div>
